.slider {
    display: block;
    margin: auto;
    user-select: none;
    position: relative;
}

.slider > .viewer {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.slider > .viewer > .slider_cart {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
}

.slider > .viewer > .first_slide {
    display: inline-block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
}

.slider > .viewer > .last_slide {
    display: inline-block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
}

.slider > .viewer > .slider_cart > .elem {
    display: inline-block;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider > .dots_nav {
    display: block;
    width: 100%;
    text-align: center;
    user-select: none;
    position: absolute;
    left: 0;
}

.slider > .dots_nav > .dot {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 100%;
    background: white;
    user-select: none;
    cursor: pointer;
}

.slider > .dots_nav > .dot:hover {
    border-color: white;
    background: gray;
}

.slider > .dots_nav > .dot.fill {
    border-color: #000;
    background: #000;
}

.slider > .left_but {
    display: block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.slider > .right_but {
    display: block;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.slider > .left_but.disabled,
.slider > .right_but.disabled {
    opacity: 0.4;
}

.slider > .left_but:hover,
.slider > .right_but:hover {
    transform: scale(1.1);
}

.slider > .left_but:active,
.slider > .right_but:active {
    transform: scale(1);
}